body {
	overflow-x: hidden;
}

.titulo-principal {
	width: 100%;
	padding: 30px 0;
	font-size: 40px;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	background-color: red;
	color:lightskyblue;
	letter-spacing: 2px;
	font-weight: bold;
	text-align: center;
}


.principal{
	background: #CCCCCC;
	padding: 30px;
}

#banner {
	margin: 10px 0;
	width: 100%;
}

.box-banner{

}

.nav-menu {
	width: 100%;
	padding: 10px 0;
	margin-left: 5px;
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
}

nav li {
	width: 100%;
	display: flex;
	justify-content: center;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}